div[id=root] {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

section {
  height: 100%;
}

.lobby {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

img {
    position: relative;
    width:  150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

span {
    right: 0;
    position: absolute;
    padding: 8px;
}

.item {
    flex: 1 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    min-width: 33%;
    max-width: 33%;
    max-height: 66%;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
